**Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [3]:
import pandas as pd
movies = pd.read_csv('/Users/macbook/Desktop/Data1Science/Python/Lecture11/ml-25m/movies.csv')
ratings = pd.read_csv('/Users/macbook/Desktop/Data1Science/Python/Lecture11/ml-25m/ratings.csv')
movies_n = movies.merge(ratings, how = 'left', left_on='movieId', right_on='movieId')

In [5]:
def mark(element):
    if element <= 2.0:
        return 'низкий рейтинг'
    if 2 < element <= 4.0:
        return 'средний рейтинг'
    if 4.5 < element <= 5:
        return 'высокий рейтинг'

In [6]:
movies_n['mark'] = movies_n['rating'].apply(mark)

In [7]:
movies_n.head()

,movieId,title,genres,userId,rating,timestamp,mark
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2.0,3.5,1.141416e+09,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1.439472e+09,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,3.0,1.573944e+09,средний рейтинг
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.586259e+08,средний рейтинг
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,8.904925e+08,средний рейтинг

**Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [11]:
keywords = pd.read_csv('keywords.csv')
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] 
}

In [16]:
def region(keyword):
    for geo_m in geo_data.items():
        for city in geo_m[1]:
            if city in keyword.lower():
                return geo_m[0]
    return 'undefined'

In [17]:
keywords['region'] = keywords['keyword'].apply(region)

In [29]:
keywords[ keywords['region'] == 'Северо-Запад'].head()

                                                keyword   shows        region
370                            авито ру санкт петербург  425134  Северо-Запад
564                           погода в санкт петербурге  292489  Северо-Запад
1236                               банк санкт петербург  174375  Северо-Запад
1346                                    санкт петербург  144232  Северо-Запад
2121  электронный дневник санкт петербургского образ...   94835  Северо-Запад

In [30]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

**Задание 3 (бонусное)**
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.
Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга
Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.

In [31]:
movies_n.head()

,movieId,title,genres,userId,rating,timestamp,mark
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2.0,3.5,1.141416e+09,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1.439472e+09,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,3.0,1.573944e+09,средний рейтинг
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.586259e+08,средний рейтинг
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,8.904925e+08,средний рейтинг

In [36]:
years = list()
year = 1950
for i in range(61):
    years.append(year + i)
print(years)

[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

In [47]:
def production_year(param):
    film_title = param
    for year in years:
        if str(year) in film_title:
            return str(year)
    return '1900'

In [48]:
movies_n.head()

,movieId,title,genres,userId,rating,timestamp,mark
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2.0,3.5,1.141416e+09,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1.439472e+09,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,3.0,1.573944e+09,средний рейтинг
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.586259e+08,средний рейтинг
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,8.904925e+08,средний рейтинг

In [49]:
movies_n['year'] = movies_n['title'].apply(production_year)

In [50]:
movies_n.head()

,movieId,title,genres,userId,rating,timestamp,mark,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2.0,3.5,1.141416e+09,средний рейтинг,1995
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1.439472e+09,средний рейтинг,1995
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,3.0,1.573944e+09,средний рейтинг,1995
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.586259e+08,средний рейтинг,1995
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,8.904925e+08,средний рейтинг,1995

In [58]:
movies_n.groupby('year')['rating'].mean().sort_values(ascending=False).head()

year
1957    3.999492
1954    3.985693
1972    3.956477
1962    3.929445
1952    3.895315
Name: rating, dtype: float64